$color-white-main: white;

$color-primary-main: #5865F2;
$color-primary-dark: #404EED;

$color-secondary-main: #36393F;
$color-secondary-dark: #2F3136;
$color-secondary-line: #202225;

$color-success-main: #57F287;
$color-warning-main: #FEE75C;
$color-danger-main: #ED4245;
$color-shadows-main: rgba(0,0,0,0.1);

.key {
    display: inline-block;
    padding: 0px 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #999;
    cursor: pointer;
}

.key:hover {
    background-color: rgb(235, 235, 235);
}

.key:active {
    background-color: rgb(218, 218, 218);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.key-success {
    display: inline-block;
    padding: 0px 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: $color-success-main;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #43BB69;
    cursor: pointer;
}

.key-success:hover {
    background-color: #4ACF75;
}

.key-success:active {
    background-color: #3DAD60;
    box-shadow: 0 3px #338F50;
    transform: translateY(4px);
}

.key-warning {
    display: inline-block;
    padding: 0px 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: $color-warning-main;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #E7CA21;
    cursor: pointer;
}

.key-warning:hover {
    background-color: #E0CA4D;
}

.key-warning:active {
    background-color: #F8D92A;
    box-shadow: 0 3px #ECCC1C;
    transform: translateY(4px);
}

.key-danger {
    display: inline-block;
    padding: 0px 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: $color-danger-main;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #B83133;
    cursor: pointer;
}

.key-danger:hover {
    background-color: #D6393C;
}

.key-danger:active {
    background-color: #DA3235;
    box-shadow: 0 3px #A82B2D;
    transform: translateY(4px);
}