<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- The meta tags-->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <!-- Local CSS -->
        <link href="../css/github.bundle.css" rel="stylesheet" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="../.github/static/favicon.ico">
        <title>Blog</title>
    </head>
    <body>
        <div class="alert alert-info alert-dismissible fade show">
            This website is open sourced and is available on <a href="https://github.com/TheTinyWeeb/thetinyweeb.github.io.git" target="_blank">Github</a>! Made by The Tiny Weeb
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="wrapper">
            <h1 style="color: white;">TheTinyWeeb</h1>
            <div class="alert alert-primary" style="border-radius: 5px;">You are currently reading a blog. Look for more blogs at the main page by clicking <a href="/">here</a>!</div>
            <div class="alert alert-info" role="alert" style="border-radius: 5px;">
                <h4 class="alert-heading">Heading</h4>
                <p>Body</p>
            </div>
        </div>
        <!-- Console JS-->
        <script src="https://cdn.rawgit.com/adriancooney/console.image/c9e6d4fd/console.image.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- JQuery JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Local JS -->
        <script src="../js/github.bundle.js"></script>
    </body>
</html>